* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.center {
  text-align: center;
}

.margin-top {
  margin-top: 50px;
}

.hidden {
  display: none !important;
}

.show {
  display: block;
}

@mixin toggler-container {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  position: relative;
}

@mixin toggler {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

$toggleFontSize : 1.5rem;
$toggleBgHeight: 500px;

button {
  cursor: pointer;
}

.toggler-container-black {
  @include toggler-container();
  border: black 1px solid;
}

.toggler-container-white {
  @include toggler-container();
  border: white 1px solid;
}

.toggler-black {
  @include toggler();
  background-color: black;
}

.toggler-white {
  @include toggler();
  position: absolute;
  left: 100px;
  background-color: white;
}

.toggle-text-black {
  font-size: $toggleFontSize;
}

.toggle-text-white {
  font-size: $toggleFontSize;
  color: white;
}

.bg-white {
  background-color: white;
  height: $toggleBgHeight
}

.bg-black {
  background-color: black;
  height: $toggleBgHeight;
}

.modal-button {
  width: 200px;
  padding: 0.5rem;
  background-color: #4A4AE8;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: $toggleFontSize
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 500px;
  height: 250px;
  background-color: white;
  text-align: center;
  position: relative;
}

.no-button {
  width: 50px;
  margin-top: 100px;
  background-color: #EB5D5D;
  border: none;
  padding: 0.5rem;
  color: white;
  border-radius: 3px;
  font-size: $toggleFontSize
}
